name: ci
on:
  push:
    branches:
      - "main"
jobs:
  vagrant-up:
    runs-on: macos-10.15
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Cache Vagrant boxes
        uses: actions/cache@v2
        with:
          path: ~/.vagrant.d/boxes
          key: ${{ runner.os }}-vagrant-${{ hashFiles('Vagrantfile') }}
          restore-keys: |
            ${{ runner.os }}-vagrant-
      - name: Set SSH_AUTH_KEY env var
        run: export SSH_AUTH_KEY="${{secrets.SSH_AUTH_KEY}}"
      - name: Run vagrant up
        run: vagrant up
      - name: Build image
        run: vagrant ssh -c "cd /vagrant && ./build.sh"
      - name: Upload image to S3
        run: AWS_ACCESS_KEY_ID=${{secrets.AWS_KEY_ID}} AWS_SECRET_ACCESS_KEY=${{secrets.AWS_SECRET_ACCESS_KEY}} AWS_REGION=${{secrets.AWS_REGION}} aws s3 cp ./rpi-cloud-init-raspios-bullseye-arm64.img s3://${{secrets.AWS_BUCKET}}/images/scooby-latest-arm64.img
        working-directory: images
